# pyLint settings for e.g. Class 'Profile' has no 'objects' memberpylint(no-member) varnings
# the code below was sourced from: https://stackoverflow.com/a/58782599

load-plugins=pylint_django

disable=all

enable=F,E,unreachable,duplicate-key,unnecessary-semicolon,global-variable-not-assigned,unused-variable,binary-op-exception,bad-format-string,anomalous-backslash-in-string,bad-open-mode